.c-mask {
    left: 0;
}
.c-menu {
    position: absolute;
    transition: all .4s ease;
    visibility: hidden;
    padding: 0;
    margin-top: 2rem;
    width: 100vw;
    overflow: hidden;
    height: 0;
}
.burger-menu-icon.menuOpen .c-menu--slide-top {
    height: 26rem;
    visibility: inherit;
}
