@import url('https://fonts.googleapis.com/css?family=Assistant');

.img {
    height: auto;
    width: 100%;
}

div {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.wrapper {
    background: #8e9064;
}

.nicer-font {
    font-family: 'Assistant', sans-serif;
}

#main-hebrew {
    text-align: right;
    font-size: 16px;
}

#main-english {
    font-size: 16px;
    text-align: left;
}

#footer {
    text-align: center;
    text-shadow: none;
}

#slogen {
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
}

#slogen2 {
    text-align: right;
    color: #ffffff;
    font-size: 1.2em;
}

#video {
    width: 100%;
    height: 15em;
}

p {
    text-align: center;
}

.img-logo {
    width: 50%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: block;

}
.kind-of-black {
    background: #333333;
}

.title-color {
    color: #ae9a64;
}

.heb-menu .title {
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: flex-end;
}
.heb-menu .title h1 {
    margin: 0;
}
.heb-menu .title {
    padding-bottom: .2rem;
}
.heb-menu h2 {
    direction: rtl;
    color: #ae9a64;
    border-bottom: 3px solid #adadad;
    border-top: 3px solid #adadad;
    padding: 1.5rem 0;
    font-size: 2rem;
}
.item {
    margin-bottom: 3rem;
}
.item .titledescription {
    text-shadow: none;
    letter-spacing: 2px;
    direction: rtl;
    color: #ae9a64;
    margin: 0;
}
.item .title h3{
    margin: 0;
}
.item .titledescription h3{
    margin: 0;
}
.item .title {
    letter-spacing: 2px;
    direction: rtl;
    color: #ae9a64;
    margin: 0;
    font-size: 1.1rem;
    display: flex;
    justify-content: flex-start;
}
.item .price {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-family: 'Assistant', sans-serif;
}
.title.underline {
    text-decoration: underline;
    text-decoration-color: #ae9a64;
}
.price.drink {
    float: left;
    margin: 0;
    font-size: 1rem;
}
.drinks .item {
    margin-bottom: 0.5rem;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */
.burger-menu-icon {
    display: inline-block;
    padding: 2rem;
}
.icon-three-bars {
    width: 0.75em;
    font-size: 32px;
    color: #c9b691;
}
.icon-cross {
    width: 0.75em;
    font-size: 32px;
    color: #c9b691;
    display: none;
}
.burger-menu-icon.menuClosed .icon-three-bars {
    display: inline-block;
}
.burger-menu-icon.menuOpen #menuContiner {
    display: block;
}
.burger-menu-icon.menuOpen .icon-three-bars {
    display: none;
}
.burger-menu-icon.menuOpen .icon-cross {
    display: inline-block;
}
#menuContiner{
    position: absolute;
    left: 3rem;
}
.top-menu {
    width: 15rem;
}